{% extends 'base.html.twig' %}
{%  block body %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1>Factory Method Pattern</h1>
            <p>
                This is an example of a Factory Method Pattern.
            </p>
            <p>
                This pattern is used to separate object construction code from the code that will use the object. It makes it easier to extend object construction code independently of the rest of the code.
                Though they might seem similar, there is a different between a Factory Method and an Abstract Factory.<br />
                Where Factory Method is implemented by <span class="badge bg-secondary">inheritance</span>, Abstract Factory is implemented by <span class="badge bg-secondary">composition</span>.<br />
            </p>
            <p>
                A Factory Method is used to create one product while Abstract Factory is about creating families of dependent products.
                Here is a good <a href="https://stackoverflow.com/questions/5739611/what-are-the-differences-between-abstract-factory-and-factory-design-patterns" target="_blank">article</a>.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 g-5">
        <div class="col">
            <h2>Factory A</h2>
            <code>
                {{ sorterA.sort }}
            </code>
        </div>
        <div class="col">
            <h2>Factory B</h2>
            <code>
                {{ sorterB.sort }}
            </code>
        </div>
    </div>
</div>
{% endblock %}