<div class="container">
    <div class="row">
        <div class="col">
            <h1>Learning Design Patterns in PHP</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <li><strong>Creational Patterns</strong></li>
                <ul>
                    <li><a href="{{ path('factory') }}">Factory Method</a></li>
                    <li><a href="{{ path('abstract-factory') }}">Abstract Factory</a></li>
                </ul>
                <li><strong>Behavioral Patterns</strong></li>
                <ul>
                    <li><a href="{{ path('visitor') }}">Visitor</a></li>
                </ul>
            </ul>
        </div>
    </div>
</div>