{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5 mb-5 text-center">
    <div class="row">
        <div class="col">
            <h1>Learning Design Patterns in PHP</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item active"><strong>Creational Patterns</strong></li>
                <li class="list-group-item"><a href="{{ path('factory') }}">Factory Method</a></li>
                <li class="list-group-item"><a href="{{ path('abstract-factory') }}">Abstract Factory</a></li>
                <li class="list-group-item active"><strong>Behavioral Patterns</strong></li>
                <li class="list-group-item"><a href="{{ path('visitor') }}">Visitor</a></li>
                <li class="list-group-item active"><strong>Structural Patterns</strong></li>
                <li class="list-group-item"><a href="{{ path('proxy') }}">Proxy</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}