{% extends 'base.html.twig' %}
{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1>Visitor Pattern</h1>
            <p>
                This is an example of a Visitor Pattern.
            </p>
            <p>
                This pattern allows us to separate logic from the objects on which it operates. It is mainly used when a need to perform operations on various objects arises.
                Let's say the operation that needs to be performed is auxiliary behaviour and does not belong to the business logic.<br />
                Setting up a visitor is a great solution to provide the functionality without adding logic directly in the object.
            </p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <h2>Visitor A</h2>
            <p class="text-muted">
                Will use <kbd>FirstConcreteVisitor</kbd> to apply logic and will print that it is applying <i>First Action</i>.
            </p>
            {% for visitee in visitees %}
                <code>{{ visitee.accept(visitorA) }}</code><br />
            {% endfor %}
        </div>
    </div>
</div>
    <div class="container mb-5">
    <div class="row">
        <div class="col">
            <h2>Visitor B</h2>
            <p class="text-muted">
                Will use <kbd>SecondConcreteVisitor</kbd> to apply logic and will say it is applying <i>Second Action</i>.
            </p>
            {% for visitee in visitees %}
                <code>{{ visitee.accept(visitorB) }}</code><br />
            {% endfor %}
        </div>
    </div>
</div>
    <div class="container mb-5">
    <div class="row">
        <div class="col">
            <h2>Visitor C</h2>
            <p class="text-muted">
                Let's say a new feature is required. Simply create a new <kbd>Visitor</kbd> class and write the logic there.
            </p>
            {% for visitee in visitees %}
                <code>{{ visitee.accept(visitorC) }}</code><br />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}